.container{
    height: 100vh;
    text-align: center;
}

h2{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    justify-content: center;
}   


/*  HEADER  */
#header .container{
    display: block;
    margin-left: 500px;
    margin-top: -180px;
    background: transparent;
}

#header ul{
    display: flex;
    list-style: none;
}

#header ul li{
    margin-right: 30px;
}

#header ul li a{
    color: white;
    text-decoration: none;
}

#header ul li  button{
    background: transparent;
    border: 1px solid rgb(20, 20, 20);
    color: white;
    width: 70px;
    transition: .5s;
    border: 1px solid black;
}

#header ul li  button:hover{
    background: white;
    color: black;
    transition: .5s;
    border: 1px solid white;
}

#header ul li  button .sign-up{
    background: transparent;
    border: 1px solid rgb(20, 20, 20);
    width: 100px;
    height: 40px;
}
/* end Header */



/*Landing*/
#Home .container{
    background-image: url('/img/back.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 98.2vw;
    margin-top: -100px;

}

h2{

}

/*end Landing*/

/*Features*/

/*end Features*/